.app {
  margin: 20px 100px;
}
.app .header {
  padding: 20px 0;
}
.app .header h2 {
  font-size: 30px;
  font-weight: normal;
}
.app .con {
  display: flex;
}
.app .con .nav {
  display: flex;
  flex-direction: column;
}
.app .con .nav .nav-item {
  border: 1px solid #ccc;
  padding: 10px 0;
  width: 100px;
  text-align: center;
}
.app .con .nav .nav-item.myActive {
  background-color: #718ece;
  color: #fff;
}
.app .con .right-con {
  padding: 0 40px;
  width: 100%;
}
.app .con .right-con h3 {
  font-weight: normal;
}
.app .con .right-con a {
  margin-right: 20px;
}
